<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Posicao</title>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<h3>Dados posição</h3>
<form onsubmit="false">
    <input type="hidden" name="codigo" id="codigo"></input>
    </br>

    <label>
        Codigo vaga:
        <input type="text" name="codigoVaga" id="codigoVaga"></input>
    </label>
    </br>

    <label>
        Nome Colaborador:
        <input type="text" name="nomeColaborador" id="nomeColaborador"></input>
    </label>
    </br>

    <label>
        Alocação:
        <select name="alocacao" id="alocacoes">
        </select>
    </label>
    </br>

    <label>
        Título:
        <select name="titulo" id="titulos">
        </select>
    </label>
    </br>

    <label>
        Equipe:
        <select name="codigoEquipe" id="codigoEquipe">
        </select>
    </label>
    </br>

    </br>
    <button type="button">Salvar</button>
</form>

<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mockjax/2.6.1/jquery.mockjax.js"></script>

<script type="text/javascript">
    'use strict';
    (function($){

      $(function() {

        $("#buscarPosicoes").on('click', function(event){
            $('#tablePosicoes').empty();
            var nomeColaborador = $("#buscaNomeColaborador").val();
            var url = "posicao/colaborador?nomeColaborador="+ nomeColaborador;
            /*
        $.mockjax({
            url:  url,
            responseText: [{"codigo":"01","titulo":"Tech lead","tipoAlocacao":"Interno","nomeColaborador":"Joao","codigoEquipe":0,"equipe":{"codigoEquipe":0,"nome":"Equipe 1","proposito":"Proposito 1","posicoes":null}}]
        });
        */

            $.ajax({
              url: url
            }).done(function(data) {
                console.log(data);
                console.log('passou');

                $.each(data, function(index , item){
                    var btn = 'btnSelecionaPosicao$codigoPosicao'
                    btn = btn.replace('$codigoPosicao',item.codigo);
                    var posicao = "<tr><td>$codigoPosicao</td><td>$codigoVaga</td><td>$nomeColaborador</td><td>$tipoAlocacao</td><td>$titulo</td><td>$equipe</td><td><button type='button' id='$btn'>Selecionar</button></td></tr>";
                    posicao = posicao.replace('$codigoPosicao',item.codigo);
                    posicao = posicao.replace('$codigoVaga',item.codigoVaga);
                    posicao = posicao.replace('$nomeColaborador',item.nomeColaborador);
                    posicao = posicao.replace('$tipoAlocacao',item.tipoAlocacao);
                    posicao = posicao.replace('$titulo',item.titulo);
                    posicao = posicao.replace('$equipe',item.equipe.nome);
                    posicao = posicao.replace('$btn',btn);

                    $("#tablePosicoes").append(posicao);
                    $('#'+btn).on('click', function(e){
                        var currentRow = $(this).closest('tr');
                        var col1 = currentRow.find("td:eq(0)").text();

                        console.log(col1);
                    });
                });
            });
        });

      });
    })(jQuery);
</script>
</body>
</html>